*/ {
    margin: 0;
    padding: 0;
    display: block;
}


#time-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: black;
    font-size: 30px;
    margin-right: 40px;
}

#timer {
    margin-left: 10px;
}

#question {
    font-size: 20px;
    
}

#homepage {
    height: 150px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#highScoresContainer p {
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-family: cursive;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    
} 

#high-score-container {
    display: flex;
    justify-content: flex-end;
    z-index: 1000;
    position: fixed;
    top: 1.2%;
    left: 2%;
}

#high-scores {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    color: rgb(202, 148, 157);
    font-size: 20px;
}

#high-scores:hover {
    color: black;
}

h1 {
    color: black;
    font-size: 50px;
}

h3 {
    font-size: 29px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 45%;
    margin-bottom: 150px;
}

.quiz-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#question {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 36px;
    width: 700px;
    margin-top: 30px;
}

#choices {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-top: 50px;
}

#startButton {
    background-color: rgb(99, 7, 99);
    height: 100px;
    width:150px;
    font-size: 24px;
    color: white;
}

#startButton:hover {
    background-image: linear-gradient(white, pink);
    color: black;
}

#choices button {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 50px;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background-color: purple;
    color: white;
    font-weight: bold;
    font-size: 22px;
    border: solid black 2px;
}

#choices button:hover {
    background-color: pink;
    color: black;
} 

#choices button:active {
    background-color: purple;
}

#quiz, #scores {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

#results-container {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

main {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

#initials, #initials-label {
    font-size: 30px;
}

#submit-button {
    font-size: 18px;
    height: 40px;
    width: 120px;
    margin-left: 10px;
}

#highScoresList {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: solid black 3px;
}

#highScoresList li {
    border: solid white 2px;
    font-size: 34px;
    font-family: cursive;
    color: black;
    width: 50%;
    height: 50px;
    margin-top: 10px;
}

#scores-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#clearLocalStorage, #returnHomeButton {
    margin-left: 10px;
    background-color: navy;
    height: 40px;
    width: 15%;
    font-size: 15px;
    border-radius: 7px;
    border: none;
    color: white;
}

#clearLocalStorage:hover, #returnHomeButton:hover {
    background-color: pink;
    color: black;
}

@media screen and (max-width: 450px) {

    #main-container {
        margin-top: 100px;
    }
    
    h1 {
        font-size: 28px;
    }

    h3 {
        font-size: 16px;
    }

    #startButton {
        height: 70%;
    }

    #question {
        align-self: center;
        font-size: 25px;
        width: 80%;
    }
    
    #time-container {
    font-size: 16px;
    }

    #high-scores {
        font-size: 16px;
    }

    #highScoresContainer p {
        font-size: 20px;
    }

    #choices button {
        height: 50px;
        font-size: 80%;
        width: 60%;
        margin-top: 10px;
    }

    #choices button:hover {
        background-color: purple;
    }

    #choices {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #initials, #initials-label {
        font-size: 13px;
    }

    form {
        width: 110%;
    }

    #initials {
        width: 40%;
    }

    #submit-button {
        font-size: 13px;
        height: 50%;
        width: 25%;
    }

    #highScoresList li {
        font-size: 15px;
    }

    #clearLocalStorage, #returnHomeButton {
        font-size: 11px;
        width: 30%;
    }

    #result span {
        font-size: 20px;
    }

    #quiz-container p,
    #quiz-container h2 {
        font-size: 20px !important;
    }
}
