*/ {
    margin: 0;
    padding: 0;
    display: block;
}


#timer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: white;
}

#question {
    font-size: 20px;
    
}

header {
    background-color: blue;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header div span {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

h1 {
    color: white;
    text-align: center;
    align-items: center;
}